.feature {
  padding-top: 0;
}

.item {
  display: flex !important;
  align-items: center;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 16px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.55px;

  color: #18214d;
  background-color: transparent;
}

.item:nth-last-child(1) {
  margin-bottom: 0;
}

.item p {
  /* border: 1px solid black; */
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 30px !important;

  letter-spacing: -0.55px !important;
  color: #18214d;
}

.listGroup {
  padding-top: 36px;
}

.dark .item p {
  color: #fff !important;
}

.dark .item {
  background-color: transparent;
}

@media screen and (max-width: 480px) {
  .listGroup {
    padding-top: 25px;
  }

  .item div div {
    width: 48px !important;
    height: 48px !important;
  }

  .item p {
    padding-left: 10px !important;
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: -0.4px !important;
  }

  .item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .item p {
    font-size: 16px !important;
  }
}
