.footer {
  padding-top: 45px;
  padding-bottom: 45px;
}

.mangkuk {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.copyright {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 26px !important;
  letter-spacing: -0.2px !important;
  color: #3e4462 !important;
}
.navLink {
  padding: 0 !important;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #3e4462 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navLink:hover {
  color: #000000 !important;
}
.navbarNav div {
  padding-right: 40px !important;
}
.navLink:hover {
  color: #2a3a87 !important;
}
.dark .navLink:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
@media screen and (max-width: 991px) {
  .navbarNav {
    flex-direction: row !important;
    max-width: 490px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .leftColumn {
    width: 100% !important;
  }
  .navbarNav {
    flex-direction: column !important;
    width: 100% !important;
    text-align: center;
    max-width: initial;
  }
  .navbar {
    width: 100%;
  }
  .navbarNav div {
    padding-right: 0 !important;
    padding-bottom: 30px !important;
  }
  .navbarNav div:nth-last-child(1) {
    padding-bottom: 0 !important;
  }
  .rightColumn {
    padding-top: 40px;
    margin-right: auto !important;
  }
}
@media screen and (max-width: 450px) {
  .gridWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mangkuk {
    display: grid;
    grid-template-columns: auto;
  }
}
